.creater {
  height: 3.5rem;
  position: relative;
  top: -1.6875rem;
  display: grid;
  grid-template-columns: 40rem 5.75rem;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  .creater {
    margin: 0 1rem;
    grid-template-columns: 1fr;
    align-items: center;
  }

  .creater textarea {
    height: 3.5rem;
  }

  .creater button {
    height: 2.5rem;
    width: 5.75rem;
  }
}

.creater textarea {
  resize: none;
  padding: 1rem;
  color: var(--gray-100);
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
}

.creater button {
  color: var(--gray-100);
  background: var(--blue-dark);
  cursor: pointer;
  border: 0;
  border-radius: 8px;

  transition-duration: 0.2s;
}

.creater button:hover {
  background: var(--blue);
}
