.item {
  min-height: 4.5rem;
  display: flex;
  padding: 1rem;
  color: var(--gray-300);
  background: var(--gray-500);
  border-radius: 8px;
}

.item + .item {
  margin-top: 1rem;
}

.item span {
  width: 100%;
  max-width: calc(100% - 4.5rem);
  overflow-wrap: break-word;
  margin: 0 0.75rem;
  color: var(--gray-100);
}

.item s {
  color: var(--gray-300);
}

.item button {
  height: 24px;
  background: transparent;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.check {
  color: var(--blue);
}

.checkedTask {
  color: var(--purple-dark);
}

.checkedTask:hover {
  color: var(--purple);
}

.trash :first-child {
  color: var(--gray-300);
  transition-duration: 0.2s;
}

.trash :first-child:hover {
  border-radius: 4px;
  background: var(--gray-400);
  color: var(--danger);
}
