.item {
  min-height: 4.5rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: var(--gray-300);
  background: var(--gray-500);
  border-radius: 8px;
}

.item + .item {
  margin-top: 1rem;
}

.item span {
  overflow-wrap: break-word;
  width: 100%;
  margin: 0 0.75rem;
  color: var(--gray-100);
}

.check {
  color: var(--blue);
}

.trash {
  color: var(--gray-300);
  transition-duration: 0.2s;
}

.trash:hover {
  background: var(--gray-400);
  border-radius: 4px;
  color: var(--danger);
}
